@media screen and(max-width: 234px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width) {
    .descricao{
        width: 50%;
    }
}


