@media screen and (max-width: 780px) {

  header .container{
    display: flex;
    flex-direction: column;
  }

  .botao{
      height: 100%;
      width: 100%;
      margin: 5px;
  }
  
  .carousel-filmes{
      border: none;
  }

  .search{
    display: none;
  }
  
}
